In [1]:
import pandas as pd
import numpy as np

In [3]:
homes = pd.read_csv('homes_grouping_test.csv')

In [32]:
homes.groupby('KitchenQual').agg(['mean','count'])['SalePrice']

                      mean  count
KitchenQual
Ex           328554.670000    100
Fa           105565.205128     39
Gd           212116.023891    586
TA           139962.511565    735

In [16]:
pd.set_option('display.max_rows', 100)
homes.groupby(['Neighborhood','GarageType']).agg(['mean','count'])['SalePrice']

                                  mean  count
Neighborhood GarageType
Blmngtn      Attchd      194870.882353     17
Blueste      Attchd      137500.000000      2
BrDale       Attchd      109750.000000      2
             Detchd      104684.615385     13
             No_garage    91500.000000      1
BrkSide      Attchd      156166.666667      3
             BuiltIn     120000.000000      1
             Detchd      132944.886364     44
             No_garage    80230.000000     10
ClearCr      Attchd      218620.833333     24
             BuiltIn     130000.000000      1
             Detchd      187216.000000      2
             No_garage   200500.000000      1
CollgCr      Attchd      200877.672131    122
             BuiltIn     279426.666667      9
             Detchd      142667.647059     17
             No_garage   123800.000000      2
Crawfor      2Types      145000.000000      1
             Attchd      230142.000000     22
             Basment     231950.000000      3
             BuiltIn     381000.000000      1
             Detchd      185703.625000     24
Edwards      Attchd      154822.142857     28
             Basment     148062.500000      8
             BuiltIn     182883.333333      3
             Detchd      113923.076923     39
             No_garage   105036.363636     22
Gilbert      Attchd      190257.388889     54
             Basment     164000.000000      1
             BuiltIn     202461.173913     23
             Detchd      141000.000000      1
IDOTRR       Attchd      145700.000000      2
             Basment      55993.000000      1
             CarPort     109000.000000      2
             Detchd      103886.958333     24
             No_garage    80737.500000      8
MeadowV      Attchd      103980.000000     10
             BuiltIn     103000.000000      2
             No_garage    86000.000000      5
Mitchel      2Types      169500.000000      2
             Attchd      160806.742857     35
             BuiltIn     215000.000000      1
             Detchd      149833.333333      6
             No_garage   115200.000000      5
NAmes        2Types      150000.000000      1
             Attchd      152776.182432    148
             Basment     148333.333333      3
             BuiltIn     176500.000000      4
             CarPort     131900.000000      3
             Detchd      129401.133333     60
             No_garage   123991.666667      6
NPkVill      Attchd      141156.250000      8
             Detchd      155000.000000      1
NWAmes       Attchd      189144.202899     69
             BuiltIn     238900.000000      2
             Detchd      135952.500000      2
NoRidge      Attchd      342160.540541     37
             BuiltIn     271792.000000      4
NridgHt      Attchd      310790.762712     59
             BuiltIn     334232.388889     18
OldTown      2Types       87000.000000      1
             Attchd      136510.294118     17
             BuiltIn      93000.000000      1
             CarPort      95000.000000      1
             Detchd      132753.506173     81
             No_garage    95062.500000     12
SWISU        Attchd      140000.000000      1
             Basment     197000.000000      1
             BuiltIn     189000.000000      1
             Detchd      135934.352941     17
             No_garage   145580.000000      5
Sawyer       Attchd      142463.953488     43
             Basment     171000.000000      1
             BuiltIn     165000.000000      2
             CarPort      99479.500000      2
             Detchd      129838.391304     23
             No_garage   103500.000000      3
SawyerW      Attchd      197255.600000     45
             BuiltIn     274800.000000      2
             CarPort      82000.000000      1
             Detchd      135769.000000     10
             No_garage   141000.000000      1
Somerst      Attchd      244129.483333     60
             BuiltIn     260978.000000      4
             Detchd      167772.045455     22
StoneBr      Attchd      277109.750000     20
             BuiltIn     444056.000000      5
Timber       2Types      186700.000000      1
             Attchd      251228.709677     31
             Basment     137500.000000      1
             BuiltIn     233278.250000      4
             Detchd      160000.000000      1
Veenker      Attchd      238772.727273     11

In [34]:
homes.groupby('BsmtFinType1').agg(['mean','median','count','std','max','min'])['SalePrice'].sort_values('mean',ascending = False)

                       mean  median  count           std     max    min
BsmtFinType1
GLQ           235413.720096  213750    418  93215.613258  755000  80000
Unf           170670.576744  161750    430  72577.080129  582933  37900
ALQ           161573.068182  149250    220  50821.277231  538000  81000
LwQ           151852.702703  139000     74  50796.987083  301000  75500
BLQ           149493.655405  139100    148  47327.292126  359100  35311
Rec           146889.248120  142000    133  45190.118879  381000  34900
No_basement   105652.891892  101800     37  29278.694797  198500  39300

In [47]:
homes.BsmtUnfSF.agg(['mean','median'])

mean      567.240411
median    477.500000
Name: BsmtUnfSF, dtype: float64

In [31]:
homes.groupby('GarageType').agg(['mean','median','count','std','max','min'])['SalePrice'].sort_values('mean')

                     mean  median  count            std     max    min
GarageType
No_garage   103317.283951  100000     81   32815.023389  200500  34900
CarPort     109962.111111  108000      9   24638.183681  164900  82000
Detchd      134091.162791  129500    387   41391.549953  475000  35311
2Types      151283.333333  159000      6   34917.068415  186700  87000
Basment     160570.684211  148000     19   63967.283574  359100  55993
Attchd      202892.656322  185000    870   77146.621778  755000  60000
BuiltIn     254751.738636  227500     88  102230.854394  582933  91000