#### Import homegrown OLS function

In [1]:
from Linear_Model_Creation_Function import OLS_Model_Creation

lin_reg, X_train, X_test, y_train, y_test = OLS_Model_Creation(path = './data/kaggle/created/homes_grouped.csv')

#### Check model Results

In [2]:
import pandas as pd
import numpy as np

print(f'ordinary linear regression score: {lin_reg.score(X_train, y_train)}', '\n')  
print(f'ordinary linear regression intercept: {np.exp(lin_reg.intercept_) }', '\n')
coefficients = pd.DataFrame(np.exp(lin_reg.coef_), X_train.columns, columns = ['Coefficients'])   
coefficients.head(5)

ordinary linear regression score: 0.9100284096922838

ordinary linear regression intercept: 331232.56113088166

             Coefficients
MSSubClass       0.999671
LotFrontage      1.000002
LotArea          1.000002
OverallQual      1.047682
OverallCond      1.047820

In [3]:
predictions = lin_reg.predict(X_test)
comparison = pd.DataFrame({'Actual': np.exp(y_test), 'Predictions': np.exp(predictions)})
comparison.head(5)

        Actual    Predictions
471   190000.0  202652.313242
72    185000.0  206238.916636
1212  113000.0   94782.246899
667   193500.0  203357.872541
912    88000.0  114755.638267